<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <!-- Bootstrap CSS link (you can replace it with your own) -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/join.js}"></script>
</head>
<div class="container my-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">게시판</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/member/list">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

    <div class="container my-3">
        <!-- 질문 -->
        <div class="post-header">
            <h2 class="border-bottom py-2" th:text="${question.title}"></h2>
            <div class="post-meta flex justify-end items-center">
                <span class="text-sm text-gray-500">작성일시:</span>
                <span th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}" class="text-sm text-gray-800 ml-2"></span>
                <!-- 수정일시 추가 -->
                <span th:if="${question.modifyDate != null}" class="text-sm text-gray-500 ml-4">수정일시:</span>
                <span th:if="${question.modifyDate != null}" th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}" class="text-sm text-gray-800"></span>
            </div>


            <div class="post-meta" style="margin-top: -22px;">
                <span class="text-sm text-gray-500 mr-2">작성자:</span>
                <span th:if="${question.author != null}" th:text="${question.author.nickname}" class="text-sm text-gray-800"></span>
            </div>
            <!--수정 , 삭제 버튼 숨김 처리-->
            <div class="post-actions">
                <a th:href="@{|/member/modify/${question.id}|}" class="text-sm text-gray-500 hover:text-blue-500 mr-2" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.nickname}">글 수정</a>
                <a onclick="return confirm('정말로 삭제하시겠습니까?');" class="text-sm text-gray-500 hover:text-red-500" th:href="@{|/member/delete/${question.id}|}" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.nickname}">글 삭제</a>
            </div>

        </div>
        <div class="my-3 pb-3" style="border-bottom: 1px solid #e2e8f0;">
            <div class="p-4">
                <div class="text-gray-800" style="white-space: pre-line;" th:text="${question.content}"></div>
            </div>
        </div>
        <a href="/member/write/{id}" class="btn btn-primary">답변 등록</a>
        <a href="/member/list" class="btn btn-primary">취소</a>
    </div>

