<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <!-- Bootstrap CSS link (you can replace it with your own) -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

    <script th:src="@{/js/join.js}"></script>
</head>

<div  class="container my-3">
    <div class="content">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/join}" th:object="${memberUserCreateForm}" method="post"  onsubmit="submitJoinForm(this); return false;">
        <!--이름 입력창 글자수 제한-->
        <div class="mb-3">
            <label for="username" class="form-label">이름</label>
            <input type="text" th:field="*{username}" class="form-control" th:attr="minlength=2, maxlength=4">
            <small class="form-text text-muted">2자 이상, 최대 4자까지 입력 가능합니다.</small>
        </div>
        <!--아이디 입력창 글자수 제한-->
        <div class="mb-3">
            <label for="nickname" class="form-label">사용자ID</label>
            <input type="text" th:field="*{nickname}" class="form-control" th:attr="minlength=5, maxlength=20">
            <small class="form-text text-muted">5자 이상, 최대 20자까지 입력 가능합니다.</small>
            <div id="error" th:text="${error}">
                <small th:text="${error}"></small>
            </div>
        </div>
        <!--비밀번호 입력창 글자수 제한-->
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" th:attr="minlength=3, maxlength=20">
            <small class="form-text text-muted">3자 이상, 최대 20자까지 입력 가능합니다.</small>
        </div>
        <!--비밀번호 확인 란 글자수 제한-->
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" th:attr="minlength=3, maxlength=20">
            <small class="form-text text-muted">3자 이상, 최대 20자까지 입력 가능합니다.</small>
        </div>

        <button type="submit" class="btn btn-primary">회원가입</button>
        <a href="/member/login" class="btn btn-primary">취소</a>
    </form>

    </div>
</div>
</html>

