<html layout:decorate= "~{domain/home/home/layout}">

<div layout:fragment="content" class="container my-5 mx-auto">

    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <!-- head -->
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성 일시</th>
                <th>조회 수</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr th:each="question ,loop : ${questionList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/member/write/${question.id}|}" th:text="${question.title}"></a>
                </td>

                <td><span th:if="${question.author != null}" th:text="${question.author.nickname}"></span></td><!--MemberUser 테이블에 있는 작성자 -->

                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${question.view}"></td>
            </tr>

            </tbody>
        </table>
        <div class="flex justify-center mt-5">
            <button class="join-item btn">«</button>
            <button class="join-item btn">1</button>
            <button class="join-item btn">»</button>
        </div>
    </div>
</div>
</html>