<html layout:decorate= "~{domain/home/home/layout}">

<div layout:fragment="content" class="container my-5 mx-auto">

    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <!-- head -->
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>유료글</th>
                <th>작성 일시</th>
                <th>조회 수</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr th:each="question ,loop : ${questionList}">
                <td th:text="${questionList.getTotalElements - (questionList.number * questionList.size) - loop.index}"></td> <!--게시물 번호 나열-->

                <td>  <a th:href="@{|/member/write/${question.id}|}" th:text="${question.title}"></a> </td><!--글 제목에 링크 설정 -->

                <td><span th:if="${question.author != null}" th:text="${question.author.nickname}"></span></td><!--MemberUser 테이블에 있는 작성자 -->

                <td>
                    <span th:if="${question.getIsPaid()}"><i class="fa-solid fa-lock"></i></span> <!--유료 글 이면 lock  아이콘 -->
                    <span th:unless="${question.getIsPaid()}"><i class="fa-solid fa-lock-open"></i></span> <!--무료 글 이면 lock-open 자물쇠 아이콘 -->
                </td>

                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>

                <td th:text="${question.view}"></td>
            </tr>

            </tbody>
        </table>
        <!--페이징 처리-->
        <div th:if="${!questionList.isEmpty()}">
            <ul class="join flex justify-center mt-5">
                <li class="join-item btn" th:classappend="${!questionList.hasPrevious} ? 'btn-disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${nowPage -1}"> « </a> <!-- 이전페이지 -->
                </li>
                <li th:each="page:${#numbers.sequence(((nowPage -1)/ 5 * 5) + 1 , endPage)}"

                    th:classappend="${page == nowPage} ? 'btn-active'"
                    class="join-item btn"> <!--현재페이지-->
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="join-item btn" th:classappend="${!questionList.hasNext} ? 'btn-disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${nowPage +1}">» </a> <!-- 다음페이지 -->
                </li>
            </ul>
        </div>
        <!--검색창 시작-->
        <div class="join flex justify-center mt-5">
            <div>
                <div>
                    <input class="input input-bordered join-item form-control"  id="search_kw" th:value="${kw}" placeholder="Search"/>
                </div>
            </div>
            <!--select box-->
            <select class="select select-bordered join-item" id="searchType">
                <option disabled selected>Filter</option>
                <option th:value="'title'">제목</option>
                <option th:value="'content'">내용</option>
                <option th:value="'author'">작성자</option>
                <option th:value="'titleAndContent'"> 제목+내용</option>
            </select>
            <div class="indicator">
                <button class="btn join-item" onclick="submitForm()" id="btn_search">Search</button>
            </div>
        </div>
        <!--검색창 끝-->
    </div>
    <form th:action="@{/member/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${nowPage}">
        <input type="hidden" id="searchTypeHidden" name="searchType" th:value="${searchType}"> <!--셀렉트 박스 타입 기억-->
    </form>
</div>



</html>

<script>

    // 페이지 로드 시 세션 스토리지에서 검색 조건 읽어오기
    window.onload = function() {
        const storedSearchTarget = sessionStorage.getItem('searchType');
        const storedKw = sessionStorage.getItem('kw');

        if (storedSearchTarget) {
            document.getElementById("searchType").value = storedSearchTarget;
        }

        if (storedKw) {
            document.getElementById("search_kw").value = storedKw;
        }
    }

    // 페이지 이동 시 검색 조건을 세션 스토리지에 저장하고 폼 제출
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            saveSearchCondition();
            document.getElementById('searchForm').submit();
        });
    });

    // 검색 버튼 클릭 시 검색 조건을 세션 스토리지에 저장하고 폼 제출
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        saveSearchCondition();
        document.getElementById('page').value = 1;  // 검색 버튼을 클릭할 경우 1페이지부터 조회
        document.getElementById('searchForm').submit();
    });

    // 검색 조건을 세션 스토리지에 저장하는 함수
    function saveSearchCondition() {
        const selectedTarget = document.getElementById("searchType").value;
        const searchInput = document.getElementById("search_kw").value;

        // 검색 조건 세션 스토리지에 저장
        sessionStorage.setItem('searchType', selectedTarget);
        sessionStorage.setItem('kw', searchInput);
    }

    // 검색 조건을 폼에 설정하고 제출하는 함수
    function submitForm() {
        const selectedValue = document.getElementById("searchType").value;
        document.getElementById("searchTypeHidden").value = selectedValue;
        saveSearchCondition();
        document.getElementById("searchForm").submit();
    }

</script>

