<html layout:decorate= "~{domain/home/home/layout}">

<div layout:fragment="content" class="container my-5 mx-auto">

    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <!-- head -->
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성 일시</th>
                <th>조회 수</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="question ,loop : ${myList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/member/${question.getAuthor().getNickname()}/${question.getId()}|}" th:text="${question.getTitle()}"></a>
                </td>

                <td><span th:if="${question.getAuthor() != null}" th:text="${question.getAuthor().getNickname()}"></span></td><!--MemberUser 테이블에 있는 작성자 -->

                <td th:text="${#temporals.format(question.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${question.view}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>