
<nav th:fragment="navbarFragment" class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/member/list">전체글</a></li>
                <li><a href="/member/write">글작성</a></li>
                <li><a href="/member/myList">나의글</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a href="/member/list" class="btn btn-ghost text-xl">미디엄</a>
    </div>
    <div class="navbar-end">
        <div class="flex-none">
            <div class="dropdown dropdown-end">

            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component" src="/image/person.png" />
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-content-center">

                            <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>님
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a onclick="return confirm('로그아웃 하시겠나요?');" class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그 아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>