<html layout:decorate="~{domain/home/home/layout}">

<div layout:fragment="content" class="container my-5 mx-auto">

    <form method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>현재 권한</th>
                    <th>유료 회원 여부</th>
                    <th>유료 전환</th>
                </tr>
                </thead>
                <tbody>
                <!-- row 1 -->
                <tr>

                    <td><span th:text="${memberUser.id}"></span></td>
                    <td><span th:text="${memberUser.username}"></span></td>
                    <td><span th:text="${memberUser.nickname}"></span></td>
                    <td><span th:text="${memberUser.authorities}"></span></td>
                    <td><span th:text="${memberUser.isPaid()}"></span></td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" id="isPaid" name="isPaid" th:checked="${memberUser.isPaid}"/>
                        </div>
                    </td>
                    <td><button class="btn btn-active btn-neutral">업데이트</button> </td>
                </tr>
                </tbody>

            </table>

        </div>
    </form>
</div>